@keyframes fade{
    0%{

        opacity: 0;
    }
    100%{

        opacity: 100;
    }


}



.home-slider{

}
.h-image-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-image{

    align-items: center;
    width: auto;
    max-width: 85vw;
    max-height: 85vh;
    animation: fade 3s ease 0s  alternate;
}




@media (max-width: 600px) {
    .home-slider{
        height: 75vh;
        overflow: hidden;

    }
}